//Colours
$c-black: #1a1a1a;
$c-white: #fff;
$c-c: #163832;
$c-c2: #F9FFE5;
$c-blue: #062F4D;

// Fonts
$primary: 'poppins';
$primary-medium: 'poppinsmedium';
$primary-light: 'poppinslight';
$primary-black: 'poppinsblack';
$primary-bold: 'poppinsbold';
$primary-extrabold: 'poppinsextrabold';
$primary-semibold: 'poppinssemibold';


$secondary: 'bebasnue';